gha-creds-*.json
/site
.vscode
.DS_Store

# training
outputs/
/*.ipynb
slurm/logs
slurm/rollout_jobs
slurm/rollout_successes
slurm/sample.zip
slurm/policy-training/logs*
eval_results/
slurm/eval_logs/
slurm/eval_jobs/

__pycache__/